Practical 6   
Name: Jatin Jasrotia   
Sec: A      
Batch: A3      
Roll no.: 39

Basic analysis of IRIS dataset (Iris.csv)

Load the iris data from a given csv file into a data frame and print the shape of
the data, type of the data and first and last 4 rows (Iris_data_sample.csv)

In [6]:
import pandas as pd
import numpy as np

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
iris_df = pd.read_csv('Iris_dataset.csv')

In [10]:
print(iris_df)

     Unnamed: 0 SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm  \
0             1           5.1           3.5           1.4           0.2
1             2           4.9           NaN           1.4           0.2
2             3           4.7           3.2           1.3           0.2
3             4            ??           3.1           1.5           0.2
4             5             5           3.6           ###           0.2
..          ...           ...           ...           ...           ...
145         146           6.7           3.0           5.2           2.3
146         147           6.3           2.5             5           1.9
147         148           6.5           3.0           5.2           2.0
148         149           6.2           3.4           5.4           2.3
149         150           5.9           3.0           5.1           1.8

            Species
0       Iris-setosa
1               NaN
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [11]:
print("Shape of the data:", iris_df.shape)

Shape of the data: (150, 6)

In [12]:

print("Type of the data:")
print(iris_df.dtypes)

Type of the data:
Unnamed: 0         int64
SepalLengthCm     object
SepalWidthCm     float64
PetalLengthCm     object
PetalWidthCm     float64
Species           object
dtype: object

In [13]:

print("First 4 rows:")
print(iris_df.head(4))

First 4 rows:
   Unnamed: 0 SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm  \
0           1           5.1           3.5           1.4           0.2
1           2           4.9           NaN           1.4           0.2
2           3           4.7           3.2           1.3           0.2
3           4            ??           3.1           1.5           0.2

       Species
0  Iris-setosa
1          NaN
2  Iris-setosa
3  Iris-setosa

In [14]:

print("Last 4 rows:")
print(iris_df.tail(4))

Last 4 rows:
     Unnamed: 0 SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm  \
146         147           6.3           2.5             5           1.9
147         148           6.5           3.0           5.2           2.0
148         149           6.2           3.4           5.4           2.3
149         150           5.9           3.0           5.1           1.8

            Species
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

2. Replace the abnormal symbols i.e. ??, ## to null value i.e. NaN

In [15]:
iris_df.replace({'??': np.nan, '##': np.nan}, inplace=True)

3. Describe the dataset, and find number of observations, missing values and
nan values

In [16]:
print("Dataset Description:")
print(iris_df.describe())

Dataset Description:
       Unnamed: 0  SepalWidthCm  PetalWidthCm
count  150.000000    149.000000    150.000000
mean    75.500000      3.054362      1.198667
std     43.445368      0.435034      0.763161
min      1.000000      2.000000      0.100000
25%     38.250000      2.800000      0.300000
50%     75.500000      3.000000      1.300000
75%    112.750000      3.300000      1.800000
max    150.000000      4.400000      2.500000

In [17]:
print("\nDataset Information:")
print(iris_df.info())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     150 non-null    int64
 1   SepalLengthCm  149 non-null    object
 2   SepalWidthCm   149 non-null    float64
 3   PetalLengthCm  149 non-null    object
 4   PetalWidthCm   150 non-null    float64
 5   Species        149 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 7.2+ KB
None

In [18]:

missing_values = iris_df.isnull().sum()
nan_values = iris_df.isna().sum()

print(missing_values)
print("Number of Missing Values:", missing_values.sum())
print("\n",nan_values)
print("Number of NaN Values:", nan_values.sum())

Unnamed: 0       0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64
Number of Missing Values: 4

 Unnamed: 0       0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64
Number of NaN Values: 4

4. View basic statistical details like percentile, mean, std deviation, mode,
variance, skewness of iris data

In [19]:
print("Mode values are: ")
iris_df.mode().loc[0]

Mode values are:

Unnamed: 0                     1
SepalLengthCm                  5
SepalWidthCm                 3.0
PetalLengthCm                1.5
PetalWidthCm                 0.2
Species          Iris-versicolor
Name: 0, dtype: object

In [22]:
print("Percentile: ")
print(iris_df.quantile(0.75))

Percentile:
Unnamed: 0      112.75
SepalWidthCm      3.30
PetalWidthCm      1.80
Name: 0.75, dtype: float64

<ipython-input-22-5fd7a765c51a>:2: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris_df.quantile(0.75))

In [23]:
print("Mean values are: ")
print(iris_df.mean())

Mean values are:
Unnamed: 0      75.500000
SepalWidthCm     3.054362
PetalWidthCm     1.198667
dtype: float64

<ipython-input-23-d6acda33f0a7>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris_df.mean())

In [24]:
print("Skew values are: ")
print(iris_df.skew())

Skew values are:
Unnamed: 0       0.000000
SepalLengthCm    0.313900
SepalWidthCm     0.330492
PetalWidthCm    -0.104997
dtype: float64

<ipython-input-24-0b8a7573425a>:2: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris_df.skew())

In [25]:
print("Standard deviation: ")
print(iris_df.std())

Standard deviation:
Unnamed: 0      43.445368
SepalWidthCm     0.435034
PetalWidthCm     0.763161
dtype: float64

<ipython-input-25-657f5ffc52a1>:2: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris_df.std())

In [26]:
print("Variance: ")
print(iris_df.var())

Variance:
Unnamed: 0      1887.500000
SepalWidthCm       0.189254
PetalWidthCm       0.582414
dtype: float64

<ipython-input-26-970acc0d0df4>:2: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(iris_df.var())

5.View basic statistical details like percentile, mean, std deviation, mode,
variance, skewness of each species (setosa, versicolor, virginica) from iris
data.

In [28]:
grouped_species = iris_df.groupby('Species')


for species, group_data in grouped_species:
    print(f"\nSpecies: {species}")


    statistical_details = iris_df.quantile(0.75)
    print("Basic Statistical Details:")
    print(statistical_details)


    mode_values = group_data.mode().iloc[0]
    print("\nMode Values:")
    print(mode_values)


    variance_values = group_data.var()
    print("\nVariance:")
    print(variance_values)


    skewness_values = group_data.skew()
    print("\nSkewness:")
    print(skewness_values)

Species: Iris-setosa
Basic Statistical Details:
Unnamed: 0      112.75
SepalWidthCm      3.30
PetalWidthCm      1.80
Name: 0.75, dtype: float64

Mode Values:
Unnamed: 0                 1
SepalLengthCm              5
SepalWidthCm             3.4
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

Variance:
Unnamed: 0      205.187075
SepalWidthCm      0.144490
PetalWidthCm      0.011692
dtype: float64

Skewness:
Unnamed: 0      -0.008853
SepalLengthCm    0.063011
SepalWidthCm     0.068839
PetalWidthCm     1.167729
dtype: float64

Species: Iris-versicolor
Basic Statistical Details:
Unnamed: 0      112.75
SepalWidthCm      3.30
PetalWidthCm      1.80
Name: 0.75, dtype: float64

Mode Values:
Unnamed: 0                    51
SepalLengthCm                5.5
SepalWidthCm                 3.0
PetalLengthCm                4.5
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 0, dtype: object

Variance:
Unnamed: 0      212.500000
SepalWidthCm      0.098469
PetalWidthCm      0.039106
dtype: float64

Skewness:
Unnamed: 0       0.000000
SepalLengthCm    0.105378
SepalWidthCm    -0.362845
PetalLengthCm   -0.606508
PetalWidthCm    -0.031180
dtype: float64

Species: Iris-virginica
Basic Statistical Details:
Unnamed: 0      112.75
SepalWidthCm      3.30
PetalWidthCm      1.80
Name: 0.75, dtype: float64

Mode Values:
Unnamed: 0                  101
SepalLengthCm               6.3
SepalWidthCm                3.0
PetalLengthCm               5.1
PetalWidthCm                1.8
Species          Iris-virginica
Name: 0, dtype: object

Variance:
Unnamed: 0      212.500000
SepalWidthCm      0.104004
PetalWidthCm      0.075433
dtype: float64

Skewness:
Unnamed: 0       0.000000
SepalLengthCm    0.118015
SepalWidthCm     0.365949
PetalLengthCm    0.549445
PetalWidthCm    -0.129477
dtype: float64

<ipython-input-28-0cdc861427b4>:8: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  statistical_details = iris_df.quantile(0.75)
<ipython-input-28-0cdc861427b4>:18: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  variance_values = group_data.var()
<ipython-input-28-0cdc861427b4>:23: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  skewness_values = group_data.skew()
<ipython-input-28-0cdc861427b4>:8: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  statistical_details = iris_df.quantile(0.75)
<ipython-input-28-0cdc861427b4>:18: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  variance_values = group_data.var()
<ipython-input-28-0cdc861427b4>:23: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  skewness_values = group_data.skew()
<ipython-input-28-0cdc861427b4>:8: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  statistical_details = iris_df.quantile(0.75)
<ipython-input-28-0cdc861427b4>:18: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  variance_values = group_data.var()
<ipython-input-28-0cdc861427b4>:23: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  skewness_values = group_data.skew()

6. Drop Id column from a given Dataframe and print the modified part

In [31]:
iris_df.drop(iris_df.columns[0], axis=1, inplace=True)
print(iris_df)

    SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm         Species
0             5.1           3.5           1.4           0.2     Iris-setosa
1             4.9           NaN           1.4           0.2             NaN
2             4.7           3.2           1.3           0.2     Iris-setosa
3             NaN           3.1           1.5           0.2     Iris-setosa
4               5           3.6           ###           0.2     Iris-setosa
..            ...           ...           ...           ...             ...
145           6.7           3.0           5.2           2.3  Iris-virginica
146           6.3           2.5             5           1.9  Iris-virginica
147           6.5           3.0           5.2           2.0  Iris-virginica
148           6.2           3.4           5.4           2.3  Iris-virginica
149           5.9           3.0           5.1           1.8  Iris-virginica

[150 rows x 5 columns]

7.Print the species and row number having maximum Sepal Length.

In [36]:

iris_df['SepalLengthCm'] = pd.to_numeric(iris_df['SepalLengthCm'], errors='coerce')


max_sepal_length_row = iris_df['SepalLengthCm'].idxmax()

max_sepal_length_species = iris_df.loc[max_sepal_length_row, 'Species']
max_sepal_length_value = iris_df.loc[max_sepal_length_row, 'SepalLengthCm']

print(f"The species with the maximum Sepal Length is {max_sepal_length_species} in row {max_sepal_length_row}.")
print(f"The Sepal Length value is {max_sepal_length_value}.")

The species with the maximum Sepal Length is Iris-virginica in row 131.
The Sepal Length value is 7.9.

8.Print the Species and row number having minimum Petal Width.

In [40]:
iris_df['PetalLengthCm'] = pd.to_numeric(iris_df['PetalLengthCm'], errors='coerce')


min_petal_length_row = iris_df['PetalLengthCm'].idxmin()

min_petal_length_species = iris_df.loc[min_petal_length_row, 'Species']
min_petal_length_value = iris_df.loc[min_petal_length_row, 'PetalLengthCm']

print(f"The species with the manimum Sepal Length is {min_petal_length_species} in row {min_petal_length_row+1}.")
print(f"The Sepal Length value is {min_petal_length_value}.")

The species with the manimum Sepal Length is Iris-setosa in row 23.
The Sepal Length value is 1.0.

9.Sort all the rows by Sepal Length column

In [ ]:
sorted_iris_df = iris_df.sort_values(by='SepalLengthCm')

print(sorted_iris_df)

     Unnamed: 0 SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm  \
13           14           4.3           3.0           1.1           0.1
42           43           4.4           3.2           1.3           0.2
38           39           4.4           3.0           1.3           0.2
8             9           4.4           2.9           1.4           0.2
41           42           4.5           2.3           1.3           0.3
..          ...           ...           ...           ...           ...
117         118           7.7           3.8           6.7           2.2
122         123           7.7           2.8           6.7           2.0
135         136           7.7           3.0           6.1           2.3
131         132           7.9           3.8           6.4           2.0
3             4           NaN           3.1           1.5           0.2

            Species
13      Iris-setosa
42      Iris-setosa
38      Iris-setosa
8       Iris-setosa
41      Iris-setosa
..              ...
117  Iris-virginica
122  Iris-virginica
135  Iris-virginica
131  Iris-virginica
3       Iris-setosa

[150 rows x 6 columns]

10.Replace missing values of Petal Width by mean of Petal Width and Sepal Length by
mode of Sepal Length column.

In [ ]:
mean_petal_width = iris_df['PetalWidthCm'].mean()
iris_df['PetalWidthCm'].fillna(mean_petal_width, inplace=True)


mode_sepal_length = iris_df['SepalLengthCm'].mode().iloc[0]
iris_df['SepalLengthCm'].fillna(mode_sepal_length, inplace=True)

11.Print correlation matrix for this Iris dataset

In [ ]:
correlation_matrix = iris_df.corr()
print("Correlation Matrix:")
print(correlation_matrix)

Correlation Matrix:
              Unnamed: 0  SepalWidthCm  PetalWidthCm
Unnamed: 0      1.000000     -0.403090      0.899759
SepalWidthCm   -0.403090      1.000000     -0.359751
PetalWidthCm    0.899759     -0.359751      1.000000

<ipython-input-73-66189e9d7427>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = iris_df.corr()

12. Perform correlation analysis on Petal width and Petal Length using Pearson
Correlation Coefficient. (using library scipy.stat and without using library)

In [43]:
from scipy.stats import pearsonr

In [53]:
#with scipy.stat library
pearson_corr = pearsonr(iris_df['PetalLengthCm'], iris_df['PetalWidthCm'])
print("Pearson Correlation Coefficient using scipy.stats:", pearson_corr[0])

Pearson Correlation Coefficient using scipy.stats: 0.9620405969458075

In [61]:
#without using scipy.stat library
iris_df['product']=iris_df['PetalLengthCm']*iris_df['PetalWidthCm']

In [55]:
iris_df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,product
0,5.1,3.5,1.4,0.2,Iris-setosa,0.28
1,4.9,NaN,1.4,0.2,NaN,0.28
2,4.7,3.2,1.3,0.2,Iris-setosa,0.26
3,NaN,3.1,1.5,0.2,Iris-setosa,0.30
6,4.6,3.4,1.4,0.3,Iris-setosa,0.42
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,11.96
146,6.3,2.5,5.0,1.9,Iris-virginica,9.50
147,6.5,3.0,5.2,2.0,Iris-virginica,10.40
148,6.2,3.4,5.4,2.3,Iris-virginica,12.42
149,5.9,3.0,5.1,1.8,Iris-virginica,9.18

In [56]:
iris_df['x^2']=iris_df['PetalLengthCm']*iris_df['PetalLengthCm']
iris_df['y^2']= iris_df['PetalWidthCm']*iris_df['PetalWidthCm']

In [57]:
sum_row = iris_df.sum(axis=0)  # axis=0 for summing along columns
iris_df = iris_df.append(sum_row, ignore_index=True)
iris_df

<ipython-input-57-8c0261bf957b>:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  sum_row = iris_df.sum(axis=0)  # axis=0 for summing along columns
<ipython-input-57-8c0261bf957b>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  iris_df = iris_df.append(sum_row, ignore_index=True)

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,product,x^2,y^2
0,5.1,3.5,1.4,0.2,Iris-setosa,0.28,1.96,0.04
1,4.9,NaN,1.4,0.2,NaN,0.28,1.96,0.04
2,4.7,3.2,1.3,0.2,Iris-setosa,0.26,1.69,0.04
3,NaN,3.1,1.5,0.2,Iris-setosa,0.30,2.25,0.04
4,4.6,3.4,1.4,0.3,Iris-setosa,0.42,1.96,0.09
...,...,...,...,...,...,...,...,...
144,6.3,2.5,5.0,1.9,Iris-virginica,9.50,25.00,3.61
145,6.5,3.0,5.2,2.0,Iris-virginica,10.40,27.04,4.00
146,6.2,3.4,5.4,2.3,Iris-virginica,12.42,29.16,5.29
147,5.9,3.0,5.1,1.8,Iris-virginica,9.18,26.01,3.24
148,861.5,447.6,560.7,179.2,NaN,868.01,2578.15,302.10

In [58]:
n = len(iris_df)-1

In [60]:

numerator = n * iris_df.loc[n, 'product'] - iris_df.loc[n,'PetalLengthCm'] * iris_df.loc[n,'PetalWidthCm']
denominator = np.sqrt((n * iris_df.loc[n, 'x^2'] - (iris_df.loc[n,'PetalLengthCm'])**2) * (n * iris_df.loc[n, 'y^2'] - (iris_df.loc[n,'PetalWidthCm'])**2))
r = numerator / denominator


print(iris_df)
print("\nPearson Correlation Coefficient (r):", r)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species  \
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           NaN            1.4           0.2             NaN
2              4.7           3.2            1.3           0.2     Iris-setosa
3              NaN           3.1            1.5           0.2     Iris-setosa
4              4.6           3.4            1.4           0.3     Iris-setosa
..             ...           ...            ...           ...             ...
144            6.3           2.5            5.0           1.9  Iris-virginica
145            6.5           3.0            5.2           2.0  Iris-virginica
146            6.2           3.4            5.4           2.3  Iris-virginica
147            5.9           3.0            5.1           1.8  Iris-virginica
148          861.5         447.6          560.7         179.2             NaN

     product      x^2     y^2
0       0.28     1.96    0.04
1       0.28     1.96    0.04
2       0.26     1.69    0.04
3       0.30     2.25    0.04
4       0.42     1.96    0.09
..       ...      ...     ...
144     9.50    25.00    3.61
145    10.40    27.04    4.00
146    12.42    29.16    5.29
147     9.18    26.01    3.24
148   868.01  2578.15  302.10

[149 rows x 8 columns]

Pearson Correlation Coefficient (r): 0.9620405969458063